<!DOCTYPE html>
<html lang="en" ng-controller="LandingPageController" ng-app="AngularApp">
<head>
    <meta charset="utf-8" />
    <title ng-bind="models.pageTitle"></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/script")
    @Scripts.Render("~/bundles/AngularApp")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("Scripts", required: false)*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Software Diggers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/start">Start</a></li>
                    <li><a href="/#/stroll">Stroll</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
       @* @RenderBody()
        @RenderSection("SPAViews", required: false)*@
        <hr />
        <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <div class="navbar-brand">
                                <h3>About us</h3>
                                <ul>_</ul>
                            </div>
                        </ul>
                        <div class="navbar-brand">
                            <h3>Start</h3>
                            <ul>_</ul>
                        </div>
                        <div class="navbar-brand">
                            <h3>Stroll</h3>
                            <ul>_</ul>
                        </div>
                        <div class="navbar-brand">
                            <h3>Hello World</h3>
                            <ul>_</ul>
                        </div>
                        <div class="navbar-brand">
                            <h3>Help</h3>
                            <ul>_</ul>
                        </div>
                    </div>
                </div>
                <p align="center"><span style="color: red;">&copy; @DateTime.Now.Year - SoftwareDiggers</span></p>
            </div>
        </footer>
    </div>


</body>
</html>
